##############################
## Folders                  ##
##############################
node_modules/
.vscode/
dist/
##############################
## Netbeans conf            ##
##############################