##############################
## Folders                  ##
##############################
node_modules/
.vscode/
dist/
.DS_Store
##############################
## Netbeans conf            ##
##############################