[v-cloak]{
    display: none;
}
table{
    border: 1px solid #000000;
    /* 合并单元格 */
    border-collapse: collapse; 
    /* 单元格之间的间距 */
    border-spacing: 0;
    /* 空的单元格是否显示 */
    empty-cells: show;
}
th,td{
    padding: 8px 16px;
    border: 1px solid #000000;
    text-align: left;
}
th{
    background: #f7f7f7;
    color: #5c6b77;
    font-weight: 600;
    white-space: nowrap;
}