/* General styles */

body {
    margin: 0;
  }
  
  body > * {
    padding: 10px;
    font-size: 20px;
    border: 20px solid rgba(0,0,0,0.5);
  }
  
  /* specific boxes */
  
  header, footer {
    background-color: blue;
    color: white;
  }
  
  main {
    background-color: yellow;
    /* background-clip:text; */
    /* border-box
    背景延伸到边框外沿（但是在边框之下）。
    padding-box
    边框下面没有背景，即背景延伸到内边距外沿。
    content-box
    背景裁剪到内容区 (content-box) 外沿。
    text
    背景被裁剪为文字的前景色(只有chrome支持)。 */
    margin: 5%;
    padding: 5%;
    border: 60px dashed red;
    width: 60%;
  }
  
  header {
  
  }
  
  footer {
    margin-top: 15px;
  }
  