<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div v-show="page1">
            <p>1.请问你的性别是：</p>
            <input type="radio" v-model="sex" value="1"><label>男</label>
            <input type="radio" v-model="sex" value="0"><label>女</label>
            <input type="radio" v-model="sex" value="2"><label>保密</label>
            <br>
            <br>
            <my-button @click="handleNext" :color="red" :disabled=isNext1>下一步</my-button>
            <my-button @click="handleReset1">重置</my-button>
        </div>
        <div v-show="page2">
            <p>2.请选择您的兴趣爱好：</p>
            <input type="checkbox" v-model="interest" value="0"><label for="">看书</label>
            <input type="checkbox" v-model="interest" value="1"><label for="">游泳</label>
            <input type="checkbox" v-model="interest" value="2"><label for="">跑步</label>
            <input type="checkbox" v-model="interest" value="3"><label for="">看电影</label>
            <input type="checkbox" v-model="interest" value="4"><label for="">听音乐</label>
            <br>
            <br>
            <my-button @click="handleNext" :color="red" :disabled=isNext2>下一步</my-button>
            <my-button @click="handlePrevious">上一步</my-button>
            <my-button @click="handleReset2">重置</my-button>
        </div>
        <div v-show="page3">
            <textarea name="" id="" cols="30" rows="10" v-model="text"></textarea>
            <br>
            <br>
            <my-button @click="handleSubmit" :color="red" :disabled=isNext3>提交</my-button>
            <my-button @click="handlePrevious">上一步</my-button>
            <my-button @click="handleReset3">重置</my-button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="button.js"></script>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                sex:'',
                page1:true,
                page2:false,
                page3:false,
                red:'red',
                interest:[],
                text:''
            },
            methods: {
                handlePrevious(){
                    if(this.page2){
                        this.page2 = false;
                        this.page1 = true;
                    }else if(this.page3){
                        this.page3 = false;
                        this.page2 = true;
                    }
                },
                handleNext(e){
                    if(this.page1){
                        this.page1 = false;
                        this.page2 = true;
                    }else if(this.page2){
                        this.page2 = false;
                        this.page3 = true;
                    }
                },
                handleReset1(e){
                    this.sex = ''
                },
                handleReset2(e){
                    this.interest = []
                },
                handleReset3(e){
                    this.text = ''
                },
                handleSubmit(){

                }
            },
            computed: {
                isNext1(){
                    if(this.sex){
                        return false;
                    }
                    return true;
                },
                isNext2(){
                    if(this.interest.length === 3){
                        return false;
                    }
                    return true;
                },
                isNext3(){
                    if(this.text.length >= 10){
                        return false;
                    }
                    return true;
                }
            }
        });
    </script>
</body>
</html>